name: Deploy magazin-ladya

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.MOZAIKA_HOST }}
          username: ${{ secrets.MOZAIKA_USER }}
          key: ${{ secrets.MOZAIKA_KEY }}
          script: |
            # ========== ДЛЯ ПЕРВОЙ ИНИЦИАЛИЗАЦИИ ==========
            cd ~/magazin-ladya/public_html/wp-content/themes/magazin-ladya
            git clone git@github.com:site100ru/magazin-ladya.git .

            # cd ~/magazin-ladya/public_html/wp-content/themes/magazin-ladya
            # git pull