name: Deploy magazin-ladya

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REGRU_HOST }}
          username: ${{ secrets.REGRU_USER }}
          key: ${{ secrets.REGRU_KEY }}
          script: |
            cd /var/www/u1538455/data/www/magazin-ladya/public_html/wp-content/themes
            git clone https://github.com/site100ru/magazin-ladya.git magazin-ladya

            # cd /var/www/u1538455/data/www/magazin-ladya/public_html/wp-content/themes/magazin-ladya
            # git pull
