name: Deploy magazin-ladya

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REGRU_HOST }}
          username: ${{ secrets.REGRU_USER }}
          key: ${{ secrets.REGRU_KEY }}
          script: |
            # cd /var/www/u1538455/data/www/site100.ru/wp-content/themes/ladya
            # git init
            # git remote add origin https://github.com/site100ru/magazin-ladya.git
            # git fetch origin
            # git checkout -B main origin/main

            cd /var/www/u1538455/data/www/магазин-ладья.рф/wp-content/themes/ladya
            git pull
