name: Deploy magazin-ladya

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.MOZAIKA_HOST }}
          username: ${{ secrets.MOZAIKA_USER }}
          key: ${{ secrets.MOZAIKA_KEY }}
          script: |
            # ========== ДЛЯ ПЕРВОЙ ИНИЦИАЛИЗАЦИИ ==========
            # cd /var/www/u1538455/data/www/мозаика62.рф/wp-content/themes
            # git clone https://github.com/site100ru/mozaika62-rf.git site100mozaika

            # cd ~/magazin-ladya/public_html/wp-content/themes/magazin-ladya
            # git pull